body {
  min-height: 100vh;

  background-color: #5BB9B8;
}

.button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #3f918e;
}